/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.botao-voltar {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: transparent;
    border: 0px solid #aa0b00;
    color: #aa0b00;
    font-family: 'Orbitron', sans-serif;
    box-shadow: 0 0 0px #0000009f;
    transition: all 0.3s ease;
    z-index: 999;
}

.botao-voltar:hover {
    background-color: #aa0b0094;
    color: #000;
    box-shadow: 0 0 12px #aa0b00af;
}


.dark .botao-voltar {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: transparent;
    border: 0px solid #ecc100ee;
    color: #ecc100ee;
    font-family: 'Orbitron', sans-serif;
    box-shadow: 0 0 0px #0000009f;
    transition: all 0.3s ease;
    z-index: 999;
}

.dark .botao-voltar:hover {
    background-color: #ecc100ee;
    color: #000;
    box-shadow: 0 0 12px #ecc100ee;
}


/* Estilos do corpo */
body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    background-color: #000000;
    color: #3b3b3b;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body.dark {
    background-color: #fffefe;
    color: #fffefe;
}



/* Trilho do botao dark e light*/

.trilho{
    width: 60px;
    height: 25px;
    background-color: #4d4d4d;
    border-radius: 25px;
    position: relative;
    cursor: pointer;}


.trilho .indicador{
    width: 25px;
    height: 25px;
    background-color: #000;
    border-radius:50%;
    transform: scale(.9);
    position: absolute;
    left: 0;
    transition: .5s;
}

.trilho {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
}

.trilho .indicador {
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}






.trilho.dark{
background-color: #c3c3c3;
}

.trilho.dark .indicador {
    left: 35px;
    background-color: #fff;
}


.trilho-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 20px 0;
}


body.dark h1 {

color: #ffffff;
}


.dark h1 {

    color: #000000; /* cor */
    margin-bottom: 10px;

}

body.dark h2 {
    color: #000000; /* cor */
    margin-bottom: 10px;
}

body.dark h3 {
    color: #000000; /* cor */
}

body.dark h4{

    color: #ecc100ee
}

body.dark h5 {
    color: #000000; /* cor */
}


body.dark p {
    color: #000000; /* Cor do texto dos parágrafos */
}



.dark header {
    background: #000000ea; /* Cor de fundo do cabeçalho */
    color: #fffefe; /* Cor do texto do cabeçalho */
    padding: 30px 0;
    text-align: center;
}

.dark nav ul li a  {
    color: #ffffff; /* Cor do texto do link */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease; /* Transição suave para a cor */
}


.dark footer {
    text-align: center;
    padding: 10px 0;
    background: #e2b900; /* Cor de fundo do rodapé */
    color: #000000; /* Cor do texto do rodapé */
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #960000; /* Cor de fundo do rodapé */
    color: #000000; /* Cor do texto do rodapé */
}



/* Estilos do cabeçalho */
header {
    background: #161515d3; /* Cor de fundo do cabeçalho */
    color: #000000; /* Cor do texto do cabeçalho */
    padding: 30px 0;
    text-align: center;
}

/* Estilos de navegação */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center; /* Centraliza as abas */
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #000000; /* Cor do texto do link */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease; /* Transição suave para a cor */
}

nav ul li a:hover,
nav ul li a:focus {
    color: #960000; /* Cor ao passar o mouse */
    text-decoration: underline; /* Sublinha ao passar o mouse */
   
}

nav ul li a.ativo {
    font-weight: bold; /* Destaque o link ativo */
    color: #960000; /* Cor do link ativo */
    filter: grayscale(40%) brightness(140%);
}



.dark nav ul li a:hover,
.dark nav ul li a:focus {
    color: #ecc100ee; /* Cor ao passar o mouse */
    text-decoration: underline; /* Sublinha ao passar o mouse */
}

.dark nav ul li a.ativo {
    font-weight: bold; /* Destaque o link ativo */
    color: #ecc100ee; /* Cor do link ativo */
}

/* Estilos do conteúdo principal */
main {
    flex: 1; /* Faz o main ocupar o espaço restante */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo */
    padding: 20px;
}

/* Estilos das seções */
section {
    max-width: 950px; /* Limita a largura da seção */
    width: 100%; /* Faz a seção ocupar 100% da largura disponível */
    margin: 43px 0;
    background-color: rgba(255, 255, 255, 0.05); /* Fundo para seções */
    padding: 30px;
    border-radius: 12px; /* Bordas arredondadas */
    opacity: 0; /* Começa invisível */
    transform: translateY(50px); /* Começa deslocada para baixo */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transição suave */
}

.dark section {
    max-width: 950px; /* Limita a largura da seção */
    width: 100%; /* Faz a seção ocupar 100% da largura disponível */
    margin: 43px 0;
    background-color: #6464646c; /* Fundo para seções */
    padding: 30px;
    border-radius: 12px; /* Bordas arredondadas */
    opacity: 0; /* Começa invisível */
    transform: translateY(50px); /* Começa deslocada para baixo */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transição suave */
}

/* Estilos para a seção de fotos */
.seção-fotos {
    max-width: 950px; /* Limita a largura da seção */
    width: 100%; /* Faz a seção ocupar 100% da largura disponível */
    margin: 43px 0;
    background-color: rgba(255, 255, 255, 0.05); /* Fundo para seções */
    padding: 30px;
    border-radius: 12px; /* Bordas arredondadas */
    opacity: 0; /* Começa invisível */
    transform: translateY(50px); /* Começa deslocada para baixo */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transição suave */
    height: 600px; /* Ajuste o valor conforme necessário para aumentar o tamanho da seção */
}

.dark .seção-fotos {
    background-color: #6464646c; /* Fundo para seções no modo escuro */
    height: 600px; /* Ajuste do tamanho para o modo escuro também */
}




section.visible {
    opacity: 1; /* Torna a seção visível */
    transform: translateY(0); /* Move a seção para a posição original */
}

/* Estilos de texto */
h1 { 
    color: #ffffff; /* cor */
    margin-bottom: 10px;


}
h2 {
    color: #ffffff; /* cor */
    margin-bottom: 10px;
}

h3 {
    color: #ffffff; /* cor */
}

h4 {
    color: #960000; /* cor */
}

h5 {
    color: #8a8a8a; /* cor */
}

p {
    color: #ffffff; /* cor */
}

/* Estilos de projetos */
.projeto {
    margin-bottom: 18px;
}

/* Estilos de imagens */
img {
    max-width: 100%; /* Faz as imagens se ajustarem ao tamanho do contêiner */
    height: auto; /* Mantém a proporção das imagens */
    margin: 12px 0; /* Espaçamento entre as imagens */
}


/* Estilos de parallax */
.parallax {
    background-image: url('https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExcm9mN2Z2Zjd3MjVjcGpndWQ5ODQ5M2lieW5wcXFhNmdvMmh1MGdpbCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/yam2eNlREK9s6MvTYe/giphy.gif'); /* Substitua pelo caminho da sua imagem */
    height: 60vh; /* Altura da seção */
    
    background-attachment: fixed; /* Mantém a imagem fixa durante a rolagem */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Não repete a imagem */
    background-size: cover; /* Cobre toda a seção */
    display: flex;
    align-items: center; /* Centraliza o conteúdo verticalmente */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    color: rgb(255, 255, 255); /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    font-family: Impact 'Arial Narrow Bold';
    line-height: 0.8;
}



.player-buttons {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 20px;
  }
  
  .player-buttons button {
    padding: 6px 10px;
    background-color: #790e0ec4;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .player-buttons button:hover {
    background-color: #971212;
  }
  
  .player-spotify iframe {
    width: 100%;
    max-width: 950px;
    height: 400px;
    margin: 0 auto;
    display: block;
  }
  

  .dark .player-buttons button {
    padding: 6px 10px;
    background-color: #ecad00e8;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .dark .player-buttons button:hover {
    background-color: #b98800;
  }



  .player-youtube iframe {
    width: 100%;
    max-width: 400px;
    height: 200px;
    margin: 0 auto;
    display: block;
  }



.logo-linguagem {
    transition: transform 0.4s ease-out, filter 0.4s ease-out;
    filter: grayscale(20%);
}

.logo-linguagem:hover {
    transform: translateY(-10px) scale(1.05);
    filter: grayscale(0%) brightness(115%);
}




.logo-redes-sociais { 

    transition: transform 0.4s ease-out, filter 0.4s ease-out;
    filter: grayscale(20%);


}

.logo-redes-sociais:hover {
        transform: translateY(-10px) scale(1.05);
        filter: grayscale(0%) brightness(130%);
    }
    



.galeria-modal {
    display: none; /* Inicialmente oculto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.699); /* Fundo escuro */
    justify-content: center;
    align-items: center;
    z-index: 9999;
    flex-direction: column;
  }
  
  .galeria-modal.mostrar {
    display: flex;
  }
  
  .imagem-galeria {
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
    transition: transform 0.3s ease;
    transition: opacity 0.3s ease;
    opacity: 1;
}


  
  .fechar-galeria {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 36px;
    color: white;
    cursor: pointer;
    z-index: 10000;
  }
  
  .setas {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    transform: translateY(-50%);
  }
  
  .dark .seta-esquerda,
  .dark .seta-direita {
    font-size: 48px;
    color: white;
    cursor: pointer;
    user-select: none;
    transition: color 0.3s ease;
  }
  
  .dark .seta-esquerda:hover,
  .dark .seta-direita:hover {
    color: #f0c000;
  }
  

  .seta-esquerda,
  .seta-direita {
    font-size: 48px;
    color: rgb(146, 146, 146);
    cursor: pointer;
    user-select: none;
    transition: color 0.3s ease;
  }
  
  .seta-esquerda:hover,
  .seta-direita:hover {
    color: #aa0000;
  }
  

  .secao-fotos {
    display: flex;
    flex-wrap: wrap; /* Faz os álbuns quebrarem para a linha seguinte, se necessário */
    gap: 20px; /* Espaçamento entre os álbuns */
    justify-content: flex; /* Centraliza os álbuns */
    min-height: 300px; /* Altura mínima para a seção de fotos */
    padding: 20px; /* Adiciona algum espaço interno */
}


  .album {
    width: 200px; /* Ajuste o tamanho desejado */
    height: 200px; /* Ajuste o tamanho desejado */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.album img {
    width: 100%; /* Faz com que a imagem ocupe toda a div */
    height: 100%;
    object-fit: cover; /* Garante que a imagem cubra toda a área */
}

.album:hover {
    transform: scale(1.05);
}

.album-cover {
    width: 200px;
    height: 200px;
    object-fit: contain;
    filter: grayscale(0%);
    opacity: 0.7;
    transition: all 0.3s ease;
}

.album-cover:hover {
    filter: grayscale(0%);
    opacity: 1;
}
